/*header classes and styles*/
/* line 3, ../sass/header.scss */
header {
  background: black;
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
}

/* line 11, ../sass/header.scss */
nav {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border-bottom: 2px solid #ccc;
  height: 66px;
  width: 100%;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

/* line 22, ../sass/header.scss */
nav ul {
  float: right;
}

/* line 30, ../sass/header.scss */
nav li a:hover {
  background: #e5e5e5;
}

/* line 34, ../sass/header.scss */
nav button {
  float: right;
  display: inline;
}
