/*Element Styles*/

body {
    background-color: white;
}

header {
    background-color: white;
}

footer {
    background-image: url("../images/black_background.jpg");
}

table {
    margin: 10px auto;
    border-collapse: collapse;
    table-layout: fixed;
}

li {
    position: relative;
    width: 100px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 1px;
}

td {
    position: relative;
}


/*text elements*/
p {
    text-align: center;
    word-wrap: break-word;
    font-weight: 100;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
    color: #453b3a;
    font-size: 16.68pt;
    width: 600px;
}

h1 {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
    font-weight: 200;
    font-size: 56.6px;
    text-shadow: 0.5px 0.5px #000000;
    color: #453b3a;
}

h2 {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
    font-weight: 200;
    color: #453b3a; 
    font-size: 38.26pt; 
    text-shadow: 0.5px 0.5px #000000; 
}

h4 {
    text-align: center;
    word-wrap: normal;
    font-weight: 200;
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
    color: #453b3a;
    font-size: 14pt;
}

a {
    text-decoration: none;
    font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue Condensed Bold', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
    color: #453b3a; 
    font-size: 14pt; 
    height: 20px;
}

#shadow {
    box-shadow: 0 4px 2px 2px #e7e7e7; 
}

.gray_background {
    background-image: url("../images/gray_background.jpg");
    z-index: 21;
    box-shadow: 0 4px 2px 2px #e7e7e7;
}
.black_background {
    background-image: url("../images/black_background.jpg");
    z-index: 21;
}

/*general centering classes*/
.center_txt {
    text-align: center;
}

.center_img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.hidden {
    visibility: hidden;
}

.light_grey {
    color: #bba9a6;
    text-shadow: 0.5px 0.5px #c0b0ad;
}
.hdr_txt {
    height: 15px;
}



/*media queries*/

