/*styles for images*/

img {
    vertical-align: text-top;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 100px;
    height: 100px;
}

#band img {
    width: 220px;
}


